train.csv
train_BLIMP.csv
train_MT.csv
val.csv
val_BLIMP.csv
val_MT.csv
wandb/
test.csv
test_BLIMP.csv
test_MT.csv
__pycache__/
predictions_new/
saved_models/
tokenizer_file/
Final_Processed_raw_sentences_isign.csv
isign_new.csv
test_MT_dedup.csv
train_MT_dedup.csv
val_MT_dedup.csv
test_MT_last.csv
train_MT_last.csv
val_MT_last.csv
22_M_sentences_with_uids_list_of_list.csv
How2sign_train_with_without_punctuation.csv
How2SignPretrain_H2S1.1M_paramsPT1_best_model_checkpoint_isign.pth
test_Blimp22M.csv
test_BLIMPCISLR.csv
test_BLIMPWASL.csv
test_MT_OPENASL.csv
test_MT16M.csv
test_MTWASL16M.csv
test_WASLALL.csv
train_Blimp22M.csv
train_BLIMPCISLR.csv
train_BLIMPWASL.csv
train_MT_OPENASL.csv
train_MT16M.csv
train_MTWASL16M.csv
train_WASLALL.csv
val_Blimp22M.csv
val_BLIMPCISLR.csv
val_BLIMPWASL.csv
val_MT_OPENASL.csv
val_MT16M.csv
val_MTWASL16M.csv
val_WASLALL.csv
helpers/custom_gpt2
helpers/custom_gpt2_how2sign
helpers/custom_tokenizer
helpers/custom_tokenizer_how2sign
helpers/plots
helpers/test_csvs
helpers/videos
helpers/isign_new_filtered.csv
helpers/random_numbers.csv
helpers/test_numbers.csv
helpers/train_numbers.csv
helpers/val_numbers.csv